*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
*,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #ccc;
  list-style-type: none;
  font-size: 13px;
  font-weight: 400; }

img {
  width: 100%;
  height: auto; }

::selection {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff; }

*:focus {
  outline: none; }

body {
  background-color: #fff; }

body {
  display: flex;
  overflow: hidden; }

.container.leftmove {
  transform: translateX(-100%);
  transition: all 1s ease; }
  .container.leftmove .bb8 .body {
    -webkit-animation: leftbody 0.6s;
    -moz-animation: leftbody 0.6s;
    -ms-animation: leftbody 0.6s;
    -o-animation: leftbody 0.6s;
    animation: leftbody 0.6s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    transform-origin: center;
    transform-origin: center; }
  .container.leftmove .bb8 .head {
    -webkit-animation: lefthead 1s;
    -moz-animation: lefthead 1s;
    -ms-animation: lefthead 1s;
    -o-animation: lefthead 1s;
    animation: lefthead 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    transform-origin: center;
    transform-origin: center 156%; }

@-webkit-keyframes leftbody {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(-360deg); } }
@-moz-keyframes leftbody {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(-360deg); } }
@-ms-keyframes leftbody {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(-360deg); } }
@-o-keyframes leftbody {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(-360deg); } }
@keyframes leftbody {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(-360deg); } }
@-webkit-keyframes lefthead {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(-40deg); }
  30% {
    transform: rotate(0deg); }
  40% {
    transform: rotate(10deg); }
  100% {
    transform: rotate(0deg); } }
@-moz-keyframes lefthead {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(-40deg); }
  30% {
    transform: rotate(0deg); }
  40% {
    transform: rotate(10deg); }
  100% {
    transform: rotate(0deg); } }
@-ms-keyframes lefthead {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(-40deg); }
  30% {
    transform: rotate(0deg); }
  40% {
    transform: rotate(10deg); }
  100% {
    transform: rotate(0deg); } }
@-o-keyframes lefthead {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(-40deg); }
  30% {
    transform: rotate(0deg); }
  40% {
    transform: rotate(10deg); }
  100% {
    transform: rotate(0deg); } }
@keyframes lefthead {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(-40deg); }
  30% {
    transform: rotate(0deg); }
  40% {
    transform: rotate(10deg); }
  100% {
    transform: rotate(0deg); } }
.container.rightmove {
  transform: translateX(100%);
  transition: all 1s ease; }
  .container.rightmove .bb8 .body {
    -webkit-animation: rightbody 0.6s;
    -moz-animation: rightbody 0.6s;
    -ms-animation: rightbody 0.6s;
    -o-animation: rightbody 0.6s;
    animation: rightbody 0.6s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    transform-origin: center;
    transform-origin: center; }
  .container.rightmove .bb8 .head {
    -webkit-animation: righthead 1.5s;
    -moz-animation: righthead 1.5s;
    -ms-animation: righthead 1.5s;
    -o-animation: righthead 1.5s;
    animation: righthead 1.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    transform-origin: center;
    transform-origin: center 156%; }

@-webkit-keyframes rightbody {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
@-moz-keyframes rightbody {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
@-ms-keyframes rightbody {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
@-o-keyframes rightbody {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
@keyframes rightbody {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
@-webkit-keyframes righthead {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(40deg); }
  30% {
    transform: rotate(0deg); }
  40% {
    transform: rotate(-10deg); }
  100% {
    transform: rotate(0deg); } }
@-moz-keyframes righthead {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(40deg); }
  30% {
    transform: rotate(0deg); }
  40% {
    transform: rotate(-10deg); }
  100% {
    transform: rotate(0deg); } }
@-ms-keyframes righthead {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(40deg); }
  30% {
    transform: rotate(0deg); }
  40% {
    transform: rotate(-10deg); }
  100% {
    transform: rotate(0deg); } }
@-o-keyframes righthead {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(40deg); }
  30% {
    transform: rotate(0deg); }
  40% {
    transform: rotate(-10deg); }
  100% {
    transform: rotate(0deg); } }
@keyframes righthead {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(40deg); }
  30% {
    transform: rotate(0deg); }
  40% {
    transform: rotate(-10deg); }
  100% {
    transform: rotate(0deg); } }
.eye {
  -webkit-animation: eye 2s infinite;
  -moz-animation: eye 2s infinite;
  -ms-animation: eye 2s infinite;
  -o-animation: eye 2s infinite;
  animation: eye 2s infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  transform-origin: center;
  transform-origin: center; }

@-webkit-keyframes eye {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.5); }
  60% {
    transform: scale(1.7); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }
@-moz-keyframes eye {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.5); }
  60% {
    transform: scale(1.7); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }
@-ms-keyframes eye {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.5); }
  60% {
    transform: scale(1.7); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }
@-o-keyframes eye {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.5); }
  60% {
    transform: scale(1.7); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }
@keyframes eye {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.5); }
  60% {
    transform: scale(1.7); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }
.led {
  -webkit-animation: led 2s infinite;
  -moz-animation: led 2s infinite;
  -ms-animation: led 2s infinite;
  -o-animation: led 2s infinite;
  animation: led 2s infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  transform-origin: center;
  transform-origin: center; }

@-webkit-keyframes led {
  0% {
    fill: #5D5D5D;
    transform: scale(1); }
  50% {
    fill: #FB5D5D;
    transform: scale(1.5); }
  60% {
    fill: #FB5D5D;
    transform: scale(1.7); }
  80% {
    fill: #5D5D5D;
    transform: scale(1); }
  100% {
    fill: #5D5D5D;
    transform: scale(1); } }
@-moz-keyframes led {
  0% {
    fill: #5D5D5D;
    transform: scale(1); }
  50% {
    fill: #FB5D5D;
    transform: scale(1.5); }
  60% {
    fill: #FB5D5D;
    transform: scale(1.7); }
  80% {
    fill: #5D5D5D;
    transform: scale(1); }
  100% {
    fill: #5D5D5D;
    transform: scale(1); } }
@-ms-keyframes led {
  0% {
    fill: #5D5D5D;
    transform: scale(1); }
  50% {
    fill: #FB5D5D;
    transform: scale(1.5); }
  60% {
    fill: #FB5D5D;
    transform: scale(1.7); }
  80% {
    fill: #5D5D5D;
    transform: scale(1); }
  100% {
    fill: #5D5D5D;
    transform: scale(1); } }
@-o-keyframes led {
  0% {
    fill: #5D5D5D;
    transform: scale(1); }
  50% {
    fill: #FB5D5D;
    transform: scale(1.5); }
  60% {
    fill: #FB5D5D;
    transform: scale(1.7); }
  80% {
    fill: #5D5D5D;
    transform: scale(1); }
  100% {
    fill: #5D5D5D;
    transform: scale(1); } }
@keyframes led {
  0% {
    fill: #5D5D5D;
    transform: scale(1); }
  50% {
    fill: #FB5D5D;
    transform: scale(1.5); }
  60% {
    fill: #FB5D5D;
    transform: scale(1.7); }
  80% {
    fill: #5D5D5D;
    transform: scale(1); }
  100% {
    fill: #5D5D5D;
    transform: scale(1); } }
.container {
  width: 100%;
  max-width: 210px;
  margin: auto;
  align-self: flex-end;
  z-index: 1;
  position: relative;
  transition: all 1s ease;
  transform: translateX(-100%); }

.sky, .floor {
  position: absolute;
  width: 100%;
  height: 40%;
  left: 0;
  top: 0;
  background: lightblue; }

.floor {
  top: inherit;
  bottom: 0;
  height: 60%;
  background: #f9ce95; }

.buttons {
  position: absolute;
  z-index: 9;
  top: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 804px;
  height: 604px; }

.left, .right {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.1);
  top: 50%;
  left: 5%;
  transform: translateY(-50%) scale(1);
  cursor: pointer;
  transition: all 0.5s ease; }
  .left:before, .right:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border-left: 2px solid #F9CE95;
    border-bottom: 2px solid #F9CE95;
    top: 10px;
    left: 11px; }
  .left:hover, .right:hover {
    transform: translateY(-50%) scale(1.2);
    transition: all 0.5s ease; }

.right {
  left: initial;
  right: 5%; }
  .right:before {
    border-left: none;
    border-bottom: none;
    border-right: 2px solid #F9CE95;
    border-top: 2px solid #F9CE95;
    top: 10px;
    left: 9px; }

/*# sourceMappingURL=style.css.map */
